rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /content_lessons/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /content_quiz_bank/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /content_run_the_show/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /narration/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /admins/{uid} {
      allow read, write: if true;
    }

    match /quiz_submissions/{docId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if false;
    }

    match /lesson_submissions/{docId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if false;
    }
  }
}
